@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities{
   .floating-word {
    animation: float 6s ease-in-out infinite;
  }

  .floating-word:nth-child(2) {
    animation-delay: -2s;
  }

  .floating-word:nth-child(3) {
    animation-delay: -4s;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) translateX(5px) rotate(1deg);
  }
  50% {
    transform: translateY(-5px) translateX(-5px) rotate(-1deg);
  }
  75% {
    transform: translateY(-15px) translateX(3px) rotate(0.5deg);
  }
}